/* ===== Google Font Import - Poformsins ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.jet-form {
  width: 280px;
  height: 400px;
  margin-top: 80px;
  margin-left: 580px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.8) 50%
  );
  position: center;
  display: flex;
  top: -20px;
  left: 500px;
  transform: translate(0%, -5%);
  border-radius: 10px;
  padding: 25px;
}
.jet-form input {
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid #15cdfc;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
}
.jet-form  input:focus {
  outline: none;
}
::placeholder {
  color: #fff;
  font-family: Arial;
}
.btnn {
  width: 220px;
  height: 40px;
  background: #15cdfc;
  border: none;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(7, 7, 7);
  transition: 0.4s ease;
}
.btnn:hover {
  background: rgb(7, 7, 7);
  color: #15cdfc;
}
